h1 {
	color: #008080;
	text-align: center;
	width: 50%;
}
h2 {
	color: #ffd700;
	text-align: center;
	width: 50%;
}
h3 {
	width: 50%;
	text-align: center;
}
p {
	width: 50%;
	text-align: center;
}
.board {
	height: 80%;
	width: 50%;
	float: left;
	display: inline-block;
}
.card {
	height: 200px;
	width: 150px;
	border: 1px black solid;
	background-color: #FFFF00;
	border-radius: 20px;
	float: left;
	margin: 8%;
}
.name {
	color: #ff0000;
}
span {
	color: #ffd700;
}
nav {
  background-color: #808080;
}
nav a {
  color: white;
  background-color: #ffbf00;
  padding: 35px;
  text-decoration: none;
  display: inline-block;
  float: left;
}
a:hover {
	background-color: #ee5f3c;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
footer {
	background-color: #808080;
	clear: left;
}
img {
	height: 200px;
	width: 150px;
}